@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@500&family=Roboto+Slab&family=Ubuntu&display=swap');
/* basic style */
body{
    background-color: #E5E5E5;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    
} 
/* css styles start */
main{
    display: flex;
    justify-content: center;
    
}
.players-container{
    background: #FFFFFF;
    width: 870px;
    
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 29px;
    margin-left: 48px;
    margin-bottom: 30px;
    
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
}
.p-name{
    margin-left: 16px;
    font-size: 18px;
}
.section-title{
    margin-left: 50px;
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 26px;
    margin-top: 30px;
}
hr{
    border: 1px solid #D1D1D1;
    width: 807px;
    margin-bottom: 30px;
}
/* top players styles end */

/* top blogs styles start */
.top-blogs{
    margin-bottom: 137px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
}
.blog{
    display: flex;
}
.thumbnail img{
    width: 177px;
    height: 117px;
    margin-left: 50px;
    margin-top: 20px;
}
.blog-title{
    margin-left: 16px;
    margin-right: 37px;
    font-size: 20px;
}
.blog-info a{
    text-decoration: none;
}
.blog-info p{
    margin-left: 16px;
    color: #9F9F9F;
    
}