/* google font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@500&family=Roboto+Slab&family=Ubuntu&display=swap');
/* basic style */
body{
    background-color: #E5E5E5;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
} 
/* css styles start */
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    background: #FFFFFF;
    width: 870px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 29px;
    margin-left: 48px;
    margin-bottom: 30px;
    
}
.player{
    display: flex;
}
.player img{
    width: 56px;
    height: 56px;
}
.p-name{
    margin-left: 16px;
    font-size: 18px;
}
.section-title{
    margin-left: 50px;
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 26px;
    margin-top: 30px;
}
hr{
    border: 1px solid #D1D1D1;
    width: 807px;
    margin-bottom: 30px;
}
/* top players styles end */

/* top blogs styles start */
.top-blogs{
    margin-bottom: 46px;
}
.blogs{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
}
.blog{
    display: flex;
}
.thumbnail img{
    width: 177px;
    height: 117px;
    margin-left: 50px;
    margin-top: 20px;
}
.blog-title{
    margin-left: 16px;
    margin-right: 37px;
    font-size: 20px;
}
.blog-info a{
    text-decoration: none;
}
.blog-info p{
    margin-left: 16px;
    color: #9F9F9F;
}
/* top players styles end */

/* courses styles start */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    width: 870px;
    margin-top: 17px;
}
.top-course{
    display: flex;
}
.courses{
    margin-right: 36px;
    margin-bottom: 22px;
}
.course{
    margin-left: 50px;
    height: 269px;
    width: 252px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 10px 5px 10px 5px hsl(253, 13%, 78%);


}

.banner img{
    width: 224px;
    height: 104px;
}
.author{
    color: #ED6B4F;
}
.rating{
    display: flex;

}
.fa-star{
    font-size: 12px;
}
.rating .fa-star.filled{
    color: #FFC014;
}
.rating .fa-star.empty{
    color: #AEAEAE;
}
.duration{
    color: #ED6B4F;
    margin-left: 22px;
  
}
span{
    margin-left: 11px;
}
/* styles csss end */